<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="View/pages/login/style/login_style.css">
    <title>GBC | Login</title>
</head>
<body>
    <header>
        <a href="/" title='Voltar para página inicial' class='back_button pointer'></a>
    </header>
    <main>
        <form method='POST' action="/home">
            <h1 id='form-title' class='flex-center-center'>Login</h1>
            <section id="inputs-sec" class='flex-center-center'>
                <label class='labels' for='email-input'>E-mail ou Usuário :</label>
                <input id='email-input' name='email-input' class='inputs' title='Campo para preencher com o usuario ou email' type='text' required maxlength='100'>
                <label class='labels' for='password-input'>Senha :</label>
                <input id='password-input' name='password-input' class='inputs' title='Campo para preencher com a senha' type='password' required maxlength='20'>
            </section>
            <section id='form-redirect-buttons-sec'>
                <a class='pointer' href='#' title='Botão para recuperar senha'>Esqueci minha senha</a>
                <a class='pointer' href='/register' title='Botão redirencionador para página de registro'>Registrar conta</a>
            </section>
            <section id="login-button-sec" class='flex-center-center'>
                <button id='login-button' class='pointer' type='submit' title='Botão para realizar o login'>Entrar</button>
            </section>
        </form>
    </main>
</body>
</html>