<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="View/shared/style/siteTmp.css">
    <link rel="stylesheet" href="View/register/style/register.css">
    <title>GBC | Registro</title>
</head>
<body>
    <div id="div-notificacao-div">
        <div id="notificacao-div">
        </div>
    </div>
    <header>
        <a class="pointer" id="header-logo" href="/">GbClicker</a>
        <p class="pointer" id="login-button">Login</p>
    </header>
    <main> 
        <form id="register-form" method='POST' enctype='multipart/form-data' action="/register/save">

            <div id="left-side">
                <label id="image-input-label" for="image-input">Selecionar Foto</label>
                <input style="display:none;" id="image-input" name="image_src" type="file" accept="image/png, image/jpeg">

                <img id="image-preview" src="">
                <div id="have-account-div">
                    <p id="have-account-question">Já possui uma conta?</p>
                    <p id="login-here-button">Entre aqui</p>
                </div>
            </div>

            <div id="right-side">
                <div id="inputs-div">
                    <label for="email">Email:</label>
                    <input name="email-input" id="email" type="email" maxlength="120" required>

                    <label for="username">Usuário:</label>
                    <input name="nickname-input" id="username" type="text" maxlength="120" required>

                    <label for="password">Senha:</label>
                    <input name="password-input" id="password" type="password" maxlength="30" required>

                    <label for="confirm-password">Confirmar senha:</label>
                    <input id="confirm-password" type="password" maxlength="30" required>
                </div>
                
                <div id="submit-button-div">
                    <button id="submit-button" type="submit">Registrar</button>
                </div>
            </div>
        </form>
    </main>
    <script lang="JavaScript" src="View/register/js/Notificacao.js"></script> 
    <script lang="JavaScript" src="View/register/js/Formulario.js"></script> 
    <script lang="JavaScript" src="View/register/js/Registro.js"></script>
    <script>let registro = new Registro();</script>
</body>
</html>