div#admin
{
    font-family: "DM Sans";
    width: 70%;
    height: 90%;
    margin: 1em auto;
    border-radius: 1em;
    display: grid;
    grid-template-rows: 1fr 3fr;
    box-shadow: #888 0 0 0.2em 0;
}

div#admin .top
{
    background-color: #EEE;
    display: flex;
    gap: 3em;
    align-items: center;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    flex-wrap: wrap;
    border-bottom: 2px solid #aaa;;
    box-shadow: 0px 0px 3px 1.5px #aaa;
}

div#admin .boas_vindas
{
    margin-left: 5%;
    letter-spacing: 0.05em;
    color: #aaa;
}

div#admin .bottom
{
    width: 80%;
    margin: 5% auto;
    text-align: center;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 2em;

    background: #EFEFEF;
    /*box-shadow: inset 0px 0px 3px 1.5px #AAAAAA;*/
    border-radius: 1em;
    padding: 1em;

}

#admin .bottom a
{
    font-weight: 700;
    display: flex;
    align-items: center;
    height: 3em;
    letter-spacing: 0.1em;
    cursor: pointer;
    transition: ease-in-out 0.2s;
    border-radius: 1em;
    text-decoration: none;
    color: black;
    box-shadow: inset 0px 0px 2px 1px #AAA;
}

#admin .bottom a h1
{
    font-size: 1em;
}

#admin .bottom a:not(.disabled):hover
{
    background-color: var(--30green);
    color: var(--font-white-color);
}

#admin .bottom a:not(.disabled):active
{
    background-color: #467c5f;
    color:var(--font-white-color);
}

#admin .bottom a img
{
    max-height: 2em;
    margin: 0 0.625em;
    aspect-ratio: 1;
}

@media (max-width: 800px) or (max-height: 450px)
{
    div#admin
    {
        height: 100%;
        width: 100%;
        margin: 0;
    }
}
