main{
    flex-direction: column;
}

section.apresentacao-jogo {
    padding: 5% 10%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #efefef;
    align-items: center;
}

section.apresentacao-jogo > img {
    aspect-ratio: 1;
    width: 25%;
    border-radius: 50%;
    box-shadow: 0px 0px 0.5rem 0.25rem rgb(89, 89, 89);
    justify-self: center;
    background-color: rgb(165, 165, 165);
}

section.apresentacao-jogo > div.container-textos {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 1.5em;
}

section.apresentacao-jogo > div.container-textos > h1 {
    text-align: center;
    font-size: 1.5em;
}

/* -=-=-=-=-=- SECTION -=-=-=-=-=- */
section.perguntas-frequentes {
    border-top: 0.1em rgb(180, 180, 180) solid;
    background-color: var(--30green);
    width: 100%;
    font-size: 1.5em;
    display: grid;
    padding: 5% 10%;
    gap: 1em;
}

section.perguntas-frequentes > h1 {
    text-align: center;
    color: #efefef;
}

section.perguntas-frequentes > details {
    width: 50%;
    justify-self: center;
    border-radius: 0.5rem;
    background-color: lightgray;
}

section.perguntas-frequentes > details > summary {
    background-color: #efefef;
    border-radius: 0.5rem;
    font-weight: bold;
    padding: 1em;
    cursor: pointer;
}

section.perguntas-frequentes > details > p {
    margin:  0 0 1rem 0;
    padding: 1rem;
}

footer {
    border-top: 0.1em rgb(180, 180, 180) solid;
    background-color: rgb(150, 150, 150);
    width: 100%;
    padding: 1em;
    font-size: 1.5em;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

section.redes-sociais {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

section.redes-sociais a {
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    padding: 0.2em;
    gap: 1em;
}

section.redes-sociais a > img {
    aspect-ratio: 1;
    width: 1em;
}

section.copyright {
    color: #efefef;
    display: flex;
    align-items: center;
    font-size: 0.8em;
}

section.copyright > p {
    text-align: center;
    width: 100%;
}

@media (max-width: 720px){

    section.apresentacao-jogo > img {
        width: 50%;
    }

    section.perguntas-frequentes > details {
        width: 90%;
    }
}