body {
    height: 100vh;
}

form#register-form{
    display:flex;
    height: 70%;
    width: 70%;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
}

#left-side{
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background-color: var(--30green);
}

#image-input-label{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: white;
    color: #AAAAAA;
    font-size: 1.5em;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    font-weight: bold;
    width: 80%;
    padding: 0.5em;
    transition: ease-in-out 0.2s;
}

#image-input-label:hover{
    color: black;
}

img#image-preview{
    border-radius: 50%;
    height: auto;
    width: 40%;
    border: 2px solid black;
    background-color: white;
    box-shadow: 0 4px 4px 4px rgba(0, 0, 0, 0.25);
    aspect-ratio: 1/1;
    object-fit:cover;
}

div#have-account-div{
    font-size: 1.5em;
    color:white;
    display:flex; justify-content: center; align-items: center;
    flex-direction: column;
}

p#have-account-question{
    font-weight: bold;
}

p#login-here-button{
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

p#login-here-button:hover{
    letter-spacing: 1px;
}

div#right-side{
    width: 50%;
    font-size:1.5em;
    background-color: #D9D9D9;
    display:flex; flex-direction: column;
}

div#inputs-div{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    padding: 1.5em;
}

#inputs-div label{
    color: white;
    display:block;
}

#inputs-div input{
    width: 100%;
    border-bottom: 2px solid #AAAAAA;
    cursor: text;
    outline: none;
    font-weight: bold;
    font-family: var(--font-primary);
    transition:  ease-in-out 0.2s;
    padding: 0.5em;
}

#inputs-div input:focus{
    border-bottom: #28E597 2px solid;
    background-color: #efefef;
}

#submit-button-div{
    display:flex; justify-content: center; align-items: center; width: 100%; height: 20%;
}

#submit-button{
    font-family: var(--font-primary);
    font-size: 1em;
    color:white; font-weight: lighter;
    width: 50%; height: 40%;
    background-color: var(--30green);
    border: white 5px solid; border-radius: 5px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    
    cursor: pointer;
    transition: ease-in-out 0.2s;
}

#submit-button:hover{
    letter-spacing: 0.05em;
    box-shadow: 0 4px 4px 4px rgba(0, 0, 0, 0.25);
}

#submit-button:active{
    background-color: var(--30darkgreen);
}

/* =-=-= Media query's =-=-= */
@media (max-width: 720px) or (max-height: 625px) {
    body{
        font-size: 0.7rem;
    }
    form#register-form{
        height: 100%;
        width: 100%;
        box-shadow: none;
        border-radius: 0;
        border: none;
    }
    #image-input-label{
        font-size: 1rem;
    }
    main{
        height: 100%;
    }
}