
div#shop-div
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

table#shop-table
{
    display:block;
    border-collapse: collapse;
    font-family: var(--font-text);
    width: 80%;
    height: 80%;
    background-color: #609D7C;
    box-shadow: var(--header-shadow);
}

table#shop-table tbody
{
    width: 100%;
    display: block;
}

table#shop-table tr
{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

table#shop-table tr.tableHead
{
    position: sticky;
    top: 0;
    font-size: 2em;
    color: var(--font-white-color);
    background-color: var(--darkGreen);
    letter-spacing: 4px;
    box-shadow: 0px 4px 6px -2px var(--shadow-color);
}

table#shop-table tr:not(.tableHead)
{
    margin-top:2em;
}

table#shop-table tr td
{
    width:15%;
    max-height: 20%;
    display:flex;
    justify-content: center;
    text-align: center;
    transition: ease-in-out 0.2s;
    cursor:pointer;
    border-radius: 1em;
    box-shadow: 0px 4px 6px -2px var(--shadow-color);
    background-color: var(--font-white-color);
    border: black 2px solid;
}

table#shop-table tr td:not(.disabled):hover
{
    background-color: lightgray;
}

table#shop-table tr td:not(.disabled):active
{
    background-color: darkgray;
    font-weight: bold;
}

table#shop-table img.item-img
{
    max-height:auto;
    max-width: 55%;
    border-radius: 50%;
    padding: 0.5rem;
    object-fit: cover;
    aspect-ratio: 1/1;
}

table#shop-table p.item-name
{
    font-weight: bold;
}

table#shop-table p.item-price
{
    color:green;
}

/* ++++++ MEDIA QUERYS ++++++ */
@media (max-width: 800px)
{
    body
    {
        font-size: 10px;
    }

    ul#clicker-infos
    {
        flex-direction: column; 
        align-items: center;
    }

    ul#clicker-infos li
    {
        width:60%;
    }
}
@media (max-width: 1000px), (max-height: 600px)
{
    div#admin-tickets
    {
        display:block;
        padding:0;
    }

    table#shop-table
    {
        width: 100%;
        max-height: 100vh;
        overflow-y: auto;
        height: 100%;
    }
}

@media (max-width: 425px)
{
    table#shop-table
    {
        max-height:100vh;
        overflow-y: auto;
    }

    table#shop-table tr
    {
        width:100%;
        display:flex;
        flex-direction: column;
        align-items: center;
        gap:2em
    }
}