@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab&display=swap'); /* font-family: 'Zilla Slab', serif; */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap'); /* font-family: 'Nunito', sans-serif; */ 
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap'); /* font-family: 'Inter', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap'); /* font-family: 'Kanit', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap'); /* font-family: 'DM Sans', sans-serif; */
:root{
    --darkGreen: #00331E;
    --60green:#D9EDDF;
    --30green:#609D7C;
    --30darkgreen:#0cba71;
    --10green:#28E597;
    --font-primary: 'Zilla Slab', serif;
    --font-text: 'DM Sans';
}


/* =-=-=-=-= Reset =-=-=-=-= */
*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    user-select: none;
    border: none;
}


/* =-=-= Body =-=-= */
body{
    font-family: var(--font-primary);
    width: 100vw;
    height: 100vh;
    min-height: 650px;
    background: var(--60green);
    position: relative;
}


/* =-=-= Notificacao =-=-= */
#div-notificacao-div{
    position: absolute;
    display:none;
    justify-content: center;
    align-items: center;
    top: 5%;
    height: 20%;
    width: 100%;
}

#notificacao-div
{
    position: relative;
    display:none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: max(100%, 10em);
    /*height: 100%;
    max-height: 200px; */
    width: 60%;
    max-width: 1000px; 
    border: 0.2em solid #666;
    background-color: #D9D9D9;
    color: white;
    box-shadow: inset 0 0 2px 1px rgba(0, 0, 0, 0.5);
    animation: descendoNotificacao 8s ease-in-out;
    z-index: 2;
}

#notificacao-div h2
{
    letter-spacing: 0.1em;
    color: #666;
}

#notificacao-div h3
{
    width: 100%;
    display: block;
    text-align: center;
    letter-spacing: 0.1em;
}

#notificacao-div::before
{
    content: "";
    height: 5px;
    position: absolute;
    width: 100%;
    left:0;
    bottom: 0;
    background-color: var(--60green);
    animation: tempoParaExpirarNotificacao 6s linear;
    z-index: 1;
}


/* =-=-= Header =-=-= */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top:0;
    color: white;
    background: var(--30green);
    height: 10%; 
    max-height: 2em;
    width: 100%;
    font-size: 2.5em;
    padding: 0px 2em;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.header-a{
    text-decoration: none;
    color: white;
}


/* =-=-= Main =-=-= */
main{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: min(90%, calc((100%) - 2em));    
}


/* =-=-= Úteis =-=-= */
.pointer{
    cursor:pointer;
}

/* ++++++ NAV BAR ++++++ */
.menuClosed
{
    display: none;
}

.menu-icons
{
    width:100%;
    height: 100%;
    pointer-events: none;
}

#div-menu-navbar
{
    min-width: 15em;
    overflow-y: auto;
    overflow-x: none;
    background-color: var(--lightGrayGreen);
    box-shadow: 0px 4px 4px 0px var(--shadow-color);
}

#div-menu-navbar ul li
{
    font-family: var(--font-text);
    font-weight: 700;
    display:flex;
    align-items: center;
    min-height: 3.75em;
    letter-spacing: 2px;
    cursor:pointer;
    transition: ease-in-out 0.2s;
}

#div-menu-navbar ul li:not(.disabled):hover
{
    background-color: var(--30green);
    color:var(--font-white-color);
}

#div-menu-navbar ul li:not(.disabled):active
{
    background-color: #467c5f;
    color:var(--font-white-color);
}

#div-menu-navbar ul li img
{
    max-height: 2em;
    margin: 0 0.625em;
    aspect-ratio: 1;
}


/* =-=-= Animações =-=-= */
@keyframes descendoNotificacao {
    0% { top: -150%; }
    10% { top: 0%; }
    80% { top: 0%; }
    100% { top: -150%; }
}
@keyframes tempoParaExpirarNotificacao{
    0% { width:0; }
    100% { width:100%; }
}

@media (max-width: 720px){
    body{
        font-size: 0.7rem;
    }
    header{
        font-size: 2em;
    }
}