@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab&display=swap'); /* font-family: 'Zilla Slab', serif; */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap'); /* font-family: 'Nunito', sans-serif; */ 
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap'); /* font-family: 'Inter', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap'); /* font-family: 'Kanit', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap'); /* font-family: 'DM Sans', sans-serif; */
:root {
    --darkGreen: #00331E;
    --60green:#D9EDDF;
    --30green:#609D7C;
    --30darkgreen:#0cba71;
    --10green:#28E597;
    --font-primary: 'Zilla Slab', serif;
    --font-text: 'DM Sans';
}


/* =-=-=-=-= Reset =-=-=-=-= */
* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    user-select: none;
    border: none;
}


/* =-=-= Body =-=-= */
body {
    font-family: var(--font-primary);
    background: var(--60green);
    position: relative;
}


/* =-=-= Header =-=-= */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top:0;
    color: white;
    background: var(--30green);
    height: max(10%, 2rem);
    width: 100%;
    font-size: 2.5em;
    padding: 0 2em;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.header-a{
    text-decoration: none;
    color: white;
}


/* =-=-= Main =-=-= */
main {
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

/* =-=-= Úteis =-=-= */
.pointer{
    cursor:pointer;
}

@media (max-width: 720px){
    body{
        font-size: 0.7rem;
    }
    header{
        font-size: 2em;
    }
}