@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:ital,wght@1,700&display=swap');
/* ZILLA -> font-family: 'Zilla Slab', serif; */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');
/* NUNITO -> font-family: 'Nunito', sans-serif; */ 
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
/* INTER -> font-family: 'Inter', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
/* KANIT -> font-family: 'Kanit', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');
/* DM SANS -> font-family: 'DM Sans', sans-serif; */
:root{
    --darkGreen: #00331E;
    --60green:#D9EDDF;
    --30green:#609D7C;
    --10green:#28E597;
    --font-primary: 'Zilla Slab', serif;
    --font-text: 'DM Sans', sans-serif;;
}




*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none;
}




body{
    overflow-x: hidden;
    display: flex; flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-color: var(--60green);
}




/* Cabecalho onde o usuário poderá ir para página de login */
header{
    background: var(--30green);
    min-height:55px; min-width:200px;
    height:10%; width:100%;
    font-size:40px;
    display:flex; justify-content: space-between;
}
#header_logo{
    cursor:pointer;
    min-height:55px; min-width:100px;
    display:flex; align-items: center; justify-content: left;
    flex-wrap:wrap;
    padding: 0 0 0 30px;
    font-family: var(--font-primary); font-size:1em; font-weight: bold; color:var(--60green);
    text-decoration: none;
}
#header_infos{
    display:flex; align-items: center; justify-content: center;
    font-size:0.5em; color:var(--60green); font-family: var(--font-primary);
    min-width: 150px; width:20%;
}




main{
    position:relative;
    display:flex; flex-direction: row;
    height: 90%; width: 100%;
}
#clicker-div{
    width: 60%; height: 100%;
}
#clicker-div img{
    height: 100%; width:auto;
}


#img-to-click-div{
    display:flex; justify-content: center;
    width:100%;
    height:30%;
    border:#28E597 2px dashed;
}



/* Relacionados ao SHOP de itens */
#shop-div{
    position:absolute;
    width:40%; height:100%;
    background: linear-gradient(var(--darkGreen), var(--30green));
    overflow-y: scroll;
    overflow-x:hidden;
}
/* !Utilitários! */
.closedShop{
    animation: 2s ease-in-out close_shop;
    right:-100%;
}
.openedShop{
    animation: 2s ease-in-out open_shop;
    right:0;
}

#shop-div::-webkit-scrollbar{
    width:10px;
}

#shop-div::-webkit-scrollbar-track{
    background-color: #a0a0a0;
}

#shop-div::-webkit-scrollbar-thumb{
    background-color: gray;
}

.buttonShop{
    position:absolute; display:flex; justify-content: center; align-items: center;
    right:4px;
    width: 4%; height: 4%;
    min-height: 25px; min-width: 25px;
    cursor:pointer;
}
#closeShop{
    background-image: url('../../src/img/icons8-x-48.png');
    background-size: cover; background-repeat: no-repeat; background-position: 50%;
}
#openShop{
    right:0; background-color: #00331E; color:white; font-weight: bold;
    font-family: var(--font-primary);
}
/* Utilitários do botão de fechar/abrir loja */
.button_closeShopOpened{
    right:4px;
}
.button_closeShopClosed{
    right:98%;
}
#shop-div .itens{
    margin: 5% 0 0 0;
    width:100%; height: 70px;
    display:flex; flex-direction: row;
    background-color: #998f74;
    border: var(--darkGreen) 4px solid;
}



.itens .img-item-div{
    width:15%; height: 100%;
}
.itens .img-item-div img{
    max-width: 100%;
    max-height: 100%;
}
.itens p{
    display:flex; justify-content: space-between;
    width:85%; height: 100%;
    font-size: 1em; font-weight: bold;
    font-family: var(--font-text);
}
.itens .item-name{
    display:flex; justify-content: center; align-items: center;
    width: 25%; height:100%;
}
.itens .item-description{
    display:flex; justify-content: center; align-items: center;
    width:25%; height: 100%;
}
.itens .item-value{
    display:flex; justify-content: center; align-items: center;
    color:white; background-color: rgba(0, 255, 0, 0.338);
    width: 25%; height: 100%;
    cursor: pointer;
}


@keyframes open_shop{
    0%{
        right:-100%;
    }
    100%{
        right:0;
    }
}

@keyframes close_shop{
    0%{
        right:0;
    }
    100%{
        right:-100%;
    }
}