<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/register2.css">
    <title>GBC | Registro2</title>
</head>
<body>
    <div id="div-notificacao-div">
        <div id="notificacao-div">
            <p>E-mail já cadastrado!</p>
            <p>Por favor, tente novamente...</p>
        </div>
    </div>
    <header>
        <p class="pointer">GbClicker</p>
        <p class="pointer" id="login-button">Login</p>
    </header>
    <main> 
        <form id="register-form" method='POST' enctype='multipart/form-data' action="/register/save">

            <div id="left-side">
                <label id="image-input-label" for="image-input">Selecionar Foto</label>
                <input style="display:none;" id="image-input" type="file" accept="image/png, image/jpeg">

                <img id="image-preview" src="">
                <div id="have-account-div">
                    <p id="have-account-question">Já possui uma conta?</p>
                    <p id="login-here-button">Entre aqui</p>
                </div>
            </div>

            <div id="right-side">
                <div id="inputs-div">
                    <label for="email">Email:</label>
                    <input id="email" type="email" maxlength="120" required>

                    <label for="username">Usuário:</label>
                    <input id="username" type="text" maxlength="120" required>

                    <label for="password">Senha:</label>
                    <input id="password" type="password" maxlength="30" required>

                    <label for="confirm-password">Confirmar senha:</label>
                    <input id="confirm-password" type="password" maxlength="30" required>
                </div>
                
                <div id="submit-button-div">
                    <button id="submit-button" type="submit">Registrar</button>
                </div>
            </div>
        </form>
    </main>
    <script lang="JavaScript" src="js/registerScript.js"></script>
    <script>let registro = new Registro();</script>
</body>
</html>