@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:ital,wght@1,700&display=swap');
/* ZILLA -> font-family: 'Zilla Slab', serif; */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');
/* NUNITO -> font-family: 'Nunito', sans-serif; */ 
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
/* INTER -> font-family: 'Inter', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
/* KANIT -> font-family: 'Kanit', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');
/* DM SANS -> font-family: 'DM Sans', sans-serif; */
:root{
    --darkGreen: #00331E;
    --lightGrayGreen: #9CB0A4;
    --60green:#D9EDDF;
    --30green:#609D7C;
    --10green:#28E597;
    --font-primary: 'Zilla Slab', serif;
    --font-text: 'DM Sans', sans-serif;
    --font-size: 1rem;
    --logo-font-size: 3em;
    --money-font-size: 1em;
    --header-shadow: 0 0 7px 1px #424242;
    --header-profile-image-shadow: 0 0 4px 1px #424242;
}



/* ++++++ RESET PRESETS ++++++ */
*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none;
}
body{
    font-size: var(--font-size);
    display: flex; flex-direction: column;
    height: 100vh; width: 100vw;
    background-color: whitesmoke;
}
.disabled{
    opacity: 0.4 !important;
    background: gray;
    cursor: default !important;
}
.noSelect{
    user-select:none;
}


/* ++++++ Cabecalho ++++++ */
header{
    background: var(--30green);
    display:flex; justify-content: space-between;
    box-shadow: var(--header-shadow);
    min-width: 320px;
}
div.header_logo_button{
    display:flex; flex-direction: row;
    align-items: center;
    margin-left: 1em;
}
#header_logo{
    cursor:pointer;
    text-align: center;
    padding-left: 25px;
    font-family: var(--font-primary); font-size: var(--logo-font-size); font-weight: bold; color:var(--60green);
    text-decoration: none;
}
ul.header_ul_userInfos{
    min-width:100px; width:20%;
    display:flex; align-items: center; justify-content: end;
}
p.user_money{
    font-size: var(--money-font-size); color:var(--60green); font-family: var(--font-primary);
    margin-right: var(--logo-font-size);
}
img.user_image{
    height:var(--logo-font-size); width: var(--logo-font-size);
    border-radius: 100%;
    object-fit: cover;
    margin-right: 10px;
    border: 2px solid var(--30green);
    box-shadow: var(--header-profile-image-shadow);
}
#hamburguer-navbar-button{
    width: 3em; height:3em;
    cursor: pointer;
}


/* ++++++ NAV BAR ++++++ */
.menuClosed{
    animation: closingMenu 0.2s ease-in-out;
    display: none;
}
.menu-icons{
    width:100%; height: 100%;
    pointer-events: none;
}
#div-menu-navbar{
    min-width: 15em;
    border: black solid 2.5px;
    overflow-y: auto; overflow-x: none;
    background-color: var(--lightGrayGreen);
    box-shadow: 0px 4px 4px 0px #424242;
}
#div-menu-navbar ul li{
    font-family: var(--font-text);
    font-weight: 700;
    display:flex; align-items: center;
    min-height: 3.75em;
    letter-spacing: 2px;
    cursor:pointer;
    transition:ease-in-out 0.2s;
}
#div-menu-navbar ul li:not(.disabled):hover{
    background-color: var(--30green);
    color:white;
}
#div-menu-navbar ul li img{
    max-height: 2em;
    margin: 0 0.625em;
}



/* ++++++ MAIN ++++++ */
main{
    display:flex;
    height: 100%;
    overflow-y: auto; overflow-x: hidden;
}

/* ++++++ Clicker Div ++++++ */
div#clicker-parent-div{
    width:100%;
    min-width: 100px;
    display:flex; flex-direction: row;
}
div#left-clicker-content-side,
div#right-clicker-content-side{
    display:flex; align-items: center; flex-direction: column;
    width: 5%;
    min-width:50px;
    border: black 1px solid;
}
div#left-clicker-content-side div.buff-countdown-div{
    margin-top: 2em;
    text-align: center; font-weight: bold;
    font-family: var(--font-primary);
}
div#left-clicker-content-side div.buff-countdown-div > img{
    width:100%; height: auto;
}

div#middle-clicker-content-side{
    width: 90%;
    display:flex; align-items: center; flex-direction: column;
}
ul#clicker-infos{
    list-style:none;
    font-family: var(--font-text); color:var(--10green); font-weight: bold;
}
ul#clicker-infos li{
    text-align: center;
    margin: 1em 0; padding: 1em;
    border: var(--30green) solid 2px; border-radius: 1em;
    box-shadow: 0px 3px 5px 3px #424242, var(--30green) 0 0 0 4px;
    outline: var(--10green) solid 2px;
    letter-spacing: 5px;
}
div#level-progress{
    background-color: gray;
    font-weight: bold; font-size: 1em;
    border-radius: 1em;
    width: 250px;
    height: 2em;
    position: relative;
}
div#level-progress::after{
    text-align: center;
    content: "";
    width:80%; height: 100%;
    background-color: var(--10green);
    border-radius: 1em;
    position: absolute;
    bottom: 0; left: 0;
}
#clicker-img{
    min-height: 150px; min-width: 150px;
    width: 15%;
    cursor: pointer;
}


div#admin-tickets{
    display:flex; justify-content: center; align-items: center;
    width:100%;
    overflow-x: auto;
}
table#create-cupons-table{
    border-collapse: collapse;
    font-family: var(--font-text);
    background-color: var(--60green);
    overflow-y: auto;
}
table#create-cupons-table > thead{
    height: 4em;
    background-color: var(--darkGreen);
    color: white; font-weight: bold;
    letter-spacing: 2px;
}
table#create-cupons-table > thead > tr > td,
table#create-cupons-table > tbody > tr > td,
table#create-cupons-table > tfoot > tr > td {text-align: center;}

table#create-cupons-table > tbody > tr > td{
    flex-wrap: wrap;
    width:25%; height: 3em;
}
table#create-cupons-table tfoot tr td{
    padding: 1em;
}
table#create-cupons-table tfoot tr td input{
    height: 2em;
}


/* ++++++ MEDIA QUERYS ++++++ */
@media (max-width: 800px) {
    body{
        font-size: 10px;
    }
}


/* ++++++ KEY FRAMES ++++++ */

@keyframes closingMenu {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
}