@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:ital,wght@1,700&display=swap');
/* ZILLA -> font-family: 'Zilla Slab', serif; */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');
/* NUNITO -> font-family: 'Nunito', sans-serif; */ 
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
/* INTER -> font-family: 'Inter', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
/* KANIT -> font-family: 'Kanit', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');
/* DM SANS -> font-family: 'DM Sans', sans-serif; */
:root{
    --darkGreen: #394B41;
    --lightGrayGreen: #9CB0A4;
    --60green:#D9EDDF;
    --30green:#609D7C;
    --10green:#00A767;
    --font-primary: 'Zilla Slab', serif;
    --font-text: 'DM Sans', sans-serif;
    --font-size: 1rem;
    --logo-font-size: 3em;
    --money-font-size: 1em;
    --header-shadow: 0 0 7px 1px var(--shadow-color);
    --header-profile-image-shadow: 0 0 4px 1px var(--shadow-color);
    --font-white-color: whitesmoke;
    --counter-number-zindex: 100;
    --shadow-color: #424242;
}



/* ++++++ RESET PRESETS ++++++ */
*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none;
    user-select: none;
}
body{
    font-size: var(--font-size);
    display: flex; flex-direction: column;
    height: 100vh; width: 100vw;
    background-color: var(--font-white-color);
}
.disabled{
    opacity: 0.4 !important;
    background: gray;
    cursor: default !important;
}
.noSelect{
    user-select:none;
}


/* ++++++ Cabecalho ++++++ */
header{
    background: var(--30green);
    display:flex; justify-content: space-between;
    box-shadow: var(--header-shadow);
    min-width: 320px;
}
div.header_logo_button{
    display:flex; flex-direction: row;
    align-items: center;
    margin-left: 1em;
}
#header_logo{
    cursor:pointer;
    text-align: center;
    padding-left: 25px;
    font-family: var(--font-primary); font-size: var(--logo-font-size); font-weight: bold; color:var(--60green);
    text-decoration: none;
}
ul.header_ul_userInfos{
    min-width:100px; width:20%;
    display:flex; align-items: center; justify-content: end;
}
p.user_money{
    font-size: var(--money-font-size); color:var(--60green); font-family: var(--font-primary);
    margin-right: var(--logo-font-size);
}
img.user_image{
    height:var(--logo-font-size); width: var(--logo-font-size);
    border-radius: 100%;
    object-fit: cover;
    margin-right: 10px;
    border: 2px solid var(--30green);
    box-shadow: var(--header-profile-image-shadow);
}
#hamburguer-navbar-button{
    width: 3em; height:3em;
    cursor: pointer;
}


/* ++++++ NAV BAR ++++++ */
.menuClosed{
    animation: closingMenu 0.2s ease-in-out;
    display: none;
}
.menu-icons{
    width:100%; height: 100%;
    pointer-events: none;
}
#div-menu-navbar{
    min-width: 15em;
    overflow-y: auto; overflow-x: none;
    background-color: var(--lightGrayGreen);
    box-shadow: 0px 4px 4px 0px var(--shadow-color);
}
#div-menu-navbar ul li{
    font-family: var(--font-text);
    font-weight: 700;
    display:flex; align-items: center;
    min-height: 3.75em;
    letter-spacing: 2px;
    cursor:pointer;
    transition: ease-in-out 0.2s;
}
#div-menu-navbar ul li:not(.disabled):hover{
    background-color: var(--30green);
    color:var(--font-white-color);
}
#div-menu-navbar ul li img{
    max-height: 2em;
    margin: 0 0.625em;
}



/* ++++++ MAIN ++++++ */
main{
    display:flex;
    height: 100%;
    overflow-y: auto; overflow-x: hidden;
}




/* ++++++ Clicker Div ++++++ */
div#clicker-parent-div{
    width:100%;
    min-width: 100px;
    display:flex; flex-direction: row;
}
div#left-clicker-content-side,
div#right-clicker-content-side{
    display:flex; align-items: center; flex-direction: column;
    width: 5%;
    min-width:50px;
    padding-top: 2em;
    gap: 2em;
}
div#left-clicker-content-side div.buff-countdown-div{
    text-align: center; font-weight: bold;
    font-family: var(--font-primary);
}
div#left-clicker-content-side div.buff-countdown-div > img{
    width:80%; height: auto;
}

div#middle-clicker-content-side{
    width: 90%;
    display:flex; align-items: center; flex-direction: column; justify-content: space-between;
}
ul#clicker-infos{
    list-style:none;
    font-family: var(--font-text); color:var(--10green); font-weight: bold;
    display:flex; flex-direction: row; justify-content: space-around;
    width: 100%;
}
ul#clicker-infos li{
    text-align: center;
    margin: 1em 0; padding: 0.5em;
    border: var(--30green) solid 2px; border-radius: 1em;
    box-shadow: 0px 3px 5px 3px var(--shadow-color), var(--30green) 0 0 0 4px;
    outline: var(--10green) solid 2px;
    background-color: white;
}
.image-clicker-div{
    margin: 0 auto;
    display:flex; justify-content: center;
}
#clicker-img{
    margin: 0 auto;
    min-height: 150px; min-width: 150px;
    width: 50%;
    cursor: pointer;
}
#clicker-img:hover{
    transform: scale(1.05);
    transition: ease-in-out 0.1s;
}
#clicker-img:active{
    transform: scale(1.00);
    transition: ease-in-out 0.1s;
}
.counter-number{
    font-family: var(--font-text); font-weight: bold; color: black; font-size: 1em;
    position: absolute;
    animation: ease-in-out clickerCounter 1.5s;
    z-index: var(--counter-number-zindex);
}
div.level-progress-div{
    font-family: var(--font-text);
    display: flex; flex-direction: column; align-items: center;
    width: 100%;
    padding: 1em;
}
div#level-progress-bar{
    background-color: gray;
    font-weight: bold; font-size: 1em;
    border-radius: 1em;
    width: 80%;
    height: 2em;
    position: relative;
}
div#level-progress-bar::after{
    text-align: center;
    content: "";
    width: var(--progress-width, 0); height: 100%;
    background-color: var(--10green);
    border-radius: 1em;
    position: absolute;
    bottom: 0; left: 0;
    transition: linear 0.3s;
}



/* ++++++ ADMIN TICKETS ++++++ */
div#admin-tickets{
    width:100%;
    overflow-x: auto;
    padding: 2em;
}
table#create-cupons-table{
    width: 100%;
    border-collapse: collapse;
    font-family: var(--font-text);
    background-color: var(--60green);
}
table#create-cupons-table button{
    font-weight: bold; font-family: var(--font-text); font-size: 1em;
    padding: 0.2em;
    border-radius: 0.4em;
    cursor: pointer;
    position: relative;
    transition: ease-in-out 0.2s;
}

table#create-cupons-table thead tr{
    font-size: 1.2em;
    background-color: var(--darkGreen);
    color: var(--font-white-color); font-weight: bold;
    letter-spacing: 3px;
}
table#create-cupons-table tr{
    padding: 0.5em;
}
table#create-cupons-table tbody tr td{
    overflow: hidden;
    text-overflow: ellipsis;
}
table#create-cupons-table tfoot tr{
    height: 2em;
    background: var(--lightGrayGreen);
}
table#create-cupons-table tfoot tr td input{
    border-radius: 0.4em;
    width:80%;
    background-color: var(--font-white-color);
}
.save-code-button{
    background-color: var(--30green);
    color:var(--font-white-color);
}
button.save-code-button:not(.disabled):hover{
    background-color: var(--font-white-color);
    color:var(--30green);
}
.edit-button{
    background-color: #429BBB;
    color: var(--font-white-color);
}
button.edit-button:not(.disabled):hover{
    background-color: rgb(200, 230, 230);
    color: #429BBB;
}
.remove-button{
    background-color: rgb(190, 50, 50);
    color: var(--font-white-color);
}
button.remove-button:not(.disabled):hover{
    background-color: rgb(230, 200, 200);
    color: rgb(190, 50, 50);
}

/* ++++++ SHOP DIV ++++++ */
div#shop-div{
    display:flex; justify-content: center; align-items: center;
    height: 100%; width: 100%;
}

table#shop-table{
    display:block;
    border-collapse: collapse;
    font-family: var(--font-text);
    width: 80%; height: 80%;
    background-color: #609D7C;
    box-shadow: var(--header-shadow);
}

table#shop-table tbody{width: 100%; display:block;}
table#shop-table tr{width:100%; display:flex; justify-content: space-around;}
table#shop-table tr.tableHead{position:sticky; top:0; font-size: 2em; color:var(--font-white-color); background-color: var(--darkGreen); letter-spacing: 4px; box-shadow: 0px 4px 6px -2px var(--shadow-color);}
table#shop-table tr:not(.tableHead){margin-top:2em;}
table#shop-table tr td{width:15%; max-height: 20%; display:flex; justify-content: center; text-align: center; transition: ease-in-out 0.2s; cursor:pointer; border-radius: 1em; box-shadow: 0px 4px 6px -2px var(--shadow-color); background-color: var(--font-white-color); border: black 2px solid;}

table#shop-table tr td:not(.disabled):hover{background-color: lightgray;}
table#shop-table tr td:not(.disabled):active{background-color: darkgray; font-weight: bold;}

table#shop-table img.item-img{
    max-height:auto;
    max-width: 55%;
    border-radius: 50%;
    padding: 0.5rem;
    object-fit: cover;
    aspect-ratio: 1/1;
}
table#shop-table p.item-name{font-weight: bold;}
table#shop-table p.item-price{color:green;}


/* ++++++ MEDIA QUERYS ++++++ */
@media (max-width: 800px) {
    body{
        font-size: 10px;
    }

    ul#clicker-infos{
        flex-direction: column; 
        align-items: center;
    }

    ul#clicker-infos li{
        width:60%;
    }
}
@media (max-width: 1000px), (max-height: 600px) {
    div#admin-tickets{
        display:block;
        padding:0;
    }

    table#shop-table{
        width: 100%; max-height: 100vh; overflow-y: auto;
        height: 100%;
    }
}

@media (max-width: 425px) {
    table#shop-table{max-height:100vh; overflow-y: auto;}

    table#shop-table tr{width:100%; display:flex; flex-direction: column; align-items: center; gap:2em}
}


/* ++++++ KEY FRAMES ++++++ */

@keyframes closingMenu {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
}

@keyframes clickerCounter{
    0%{
        opacity: 0;
    }
    10%{
        opacity : 1;
    }
    100%{
        opacity : 0;
        transform: translateY(-350px);
    }
}