@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab&display=swap');
/* ZILLA -> font-family: 'Zilla Slab', serif; */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');
/* NUNITO -> font-family: 'Nunito', sans-serif; */ 
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
/* INTER -> font-family: 'Inter', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
/* KANIT -> font-family: 'Kanit', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');
/* DM SANS -> font-family: 'DM Sans', sans-serif; */

:root{
    --darkGreen: #00331E;
    --60green:#D9EDDF;
    --30green:#609D7C;
    --30darkgreen:#0cba71;
    --10green:#28E597;
    --font-primary: 'Zilla Slab', serif;
    --font-text: 'DM Sans';
}

.pointer{
    cursor:pointer;
}

*{ /* Para tirar as configurações padrões de margin e padding */
    cursor:default;
    box-sizing: border-box;
    outline:none; margin: 0; padding: 0; outline: 0;
    border:none;
}

body{
    font-family: var(--font-primary);
    width:100vw; min-width: 600px;
    height:100vh; min-height: 600px;
    background: var(--60green);
    position: relative;
}
#div-notificacao-div{
    position: absolute;
    top:5%;
    height:20%; width: 100%; 
    display:none; justify-content: center; align-items: center;
}

#notificacao-div{
    display:none; justify-content: center; align-items: center; flex-direction: column;
    position: relative;
    max-height: 200px; height: 100%;
    max-width: 1000px; width: 60%;
    border: 5px solid #AAAAAA;
    background-color: #D9D9D9;
    color:white;
    box-shadow: inset 0 0 7px 5px rgba(0, 0, 0, 0.5);
    animation: descendo_noti 8s ease-in-out;
}
#notificacao-div::before{
    content: "";
    height: 5px;
    position: absolute;
    width: 100%;
    left:0; bottom: 0;
    background-color: var(--60green);
    animation: timer_noti 6s linear;
}


/* Animações CSS */
@keyframes descendo_noti {
    0% {top: -150%;}
    10% {top: 0%;}
    80%{top: 0%;}
    100%{top: -150%;}
}
@keyframes timer_noti{
    0%{width:0;}
    100%{width:100%;}
}

header{
    display:block;
    color: white;
    background: var(--30green);
    height: 10%; max-height:6.75rem;
    width:100%;
    font-size:3rem;
    display:flex; justify-content: space-between; align-items: center;
    padding: 0px 2.5rem;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

#header-logo{
    text-decoration: none;
    color: white;
}

main{
    width:100%; height: max(90%, calc((100%) - 6.75rem));
    display:flex; justify-content: center; align-items: center;
}

form#register-form{
    display:flex;
    max-width: 87.5rem; max-height: 43.75rem;
    height: 80%; width: 80%;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
}
form#register-form div{
    width: 50%;
}
#left-side{
    background-color: var(--30green);
    display:flex; justify-content: space-around; align-items: center;
    flex-direction: column;
}
#image-input-label{
    cursor: pointer;
    display:flex; justify-content: center; align-items: center;
    background-color: white;
    color: #D9D9D9;
    font-size: 1.5rem;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    font-weight: bold;
    max-width: 21.875rem; width: 80%;
    height: 3rem;
    transition: ease-in-out 0.2s;
}
#image-input-label:hover{
    color: #AAAAAA;
}
img#image-preview{
    border-radius: 50%;
    min-height: 200px; min-width: 200px;
    height: 200px; width: 200px;
    border: 2px solid black;
    background-color: white;
    box-shadow: 0 4px 4px 4px rgba(0, 0, 0, 0.25);
    object-fit:cover;
}
div#have-account-div{
    font-size: 1.5rem;
    color:white;
    display:flex; justify-content: center; align-items: center;
    flex-direction: column;
}
p#have-account-question{
    font-weight: bold;
}

p#login-here-button{
    cursor: pointer;
    transition: 0.2s ease-in-out;
}
p#login-here-button:hover{
    letter-spacing: 1px;
}


div#right-side{
    font-size:1.5rem;
    padding: 74px 50px;
    background-color: #D9D9D9;
    display:flex; flex-direction: column;
}
div#inputs-div{
    min-width: 100%;
    height: 70%;
}

#inputs-div label{
    color: white;
    display:block;
}
#inputs-div input{
    width: 100%; height: 2rem;
    border-bottom: 2px solid #AAAAAA;
    cursor: text;
    outline: none;
    font-weight: bold;
    padding-left: 10px;
    font-family: var(--font-primary);
    margin: 0 0 20px 0;

    transition:  ease-in-out 0.2s;
}
#inputs-div input:focus{
    border-bottom: #28E597 2px solid;
    background-color: #efefef;
}


#submit-button-div{
    display:flex; justify-content: center; align-items: center; min-width: 100%; height: 30%;
}
#submit-button{
    font-family: var(--font-primary);
    font-size:1.5rem;
    color:white; font-weight: lighter;
    max-width: 12.5rem; max-height: 3.125rem;
    width: 80%; height: 30%;
    background-color: var(--30green);
    border: white 5px solid; border-radius: 5px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    
    cursor: pointer;
    transition: ease-in-out 0.2s;
}
#submit-button:hover{
    letter-spacing: 0.05rem;
    box-shadow: 0 4px 4px 4px rgba(0, 0, 0, 0.25);
}
#submit-button:active{
    background-color: var(--30darkgreen);
}