@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:ital,wght@1,700&display=swap');
/* ZILLA -> font-family: 'Zilla Slab', serif; */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');
/* NUNITO -> font-family: 'Nunito', sans-serif; */ 
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
/* INTER -> font-family: 'Inter', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
/* KANIT -> font-family: 'Kanit', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');
/* DM SANS -> font-family: 'DM Sans', sans-serif; */

:root{
    --darkGreen: #00331E;
    --60green:#D9EDDF;
    --30green:#609D7C;
    --10green:#28E597;
    --font-primary: 'Zilla Slab';
    --font-text: 'DM Sans';
}

.flex-center-center{
    display:flex; justify-content: center; align-items: center;
}

.pointer{
    cursor:pointer;
}

*{ /* Para tirar as configurações padrões de margin e padding */
    cursor:default;
    box-sizing: border-box;
    outline:none; margin: 0; padding: 0; outline: 0;
}

body{
    width:100vw;
    height:100vh;
    background: var(--60green);
}

header{
    min-height: 50px;
    height:5%;width:100%;
}

.back_button{
    border:none; background:none;
    height:100%; width:10%;
    min-height:50px; max-width: 50px;
    margin: 5px 0 0 5px;
    background-image: url('../../src/img/back_arrow3.png');
    background-size: contain; background-repeat: no-repeat;
}

main{
    margin: 20px 0 0 0;
    display:flex; justify-content: center;
    font-size:25px;
    width: 100%; height:60%;
    min-width:400px; min-height:450px;
    border: black 2px dashed;
}

main form{
    display:flex; flex-direction: column;
    min-width:  400px; width:   40%;
    min-height: 450px; height: 100%;
    font-size:  20px;
    background: var(--30green);
    box-shadow: 5px 10px 20px rgb(90, 90, 90);
    border: yellow 2px dashed;
}

#form-title{
    font-size:35px; color: var(--10green);
    position:relative; width:100%; height:10%;
    font-family: var(--font-primary);
    background: #efefef; border: var(--10green) 4px solid;
}

#inputs-div{
    display:flex;
    flex-direction: row;
    height:60%; width:100%;
    border: red 2px solid;
}
.lados-inputs-div{
    width:50%; height: 100%;
    border: purple 2px dashed;
}

.labels{
    color:#efefef;
    display:block;
    width:70%;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    margin: 10px 5%;
}

.inputs{
    outline: none; border: none; background: #efefef; /*Tirando o padrão*/
    height: 10%; width:90%;
    margin: 0 5% 0 5%;
    min-height: 20px;
    padding: 0 0 0 16px;
    border-bottom: gray 4px solid;
    cursor:text;
    font-family: var(--font-text); font-weight: bold;
    transition: border ease-in-out 0.5s;
}
.inputs:focus{
    border-bottom: var(--10green) 4px solid;
}


#form-redirect-buttons-sec{
    height:10%;
    font-size: 20px; 
    display:flex; flex-direction: column; align-items: center; justify-content: center;
}
#form-redirect-buttons-sec p{
    font-weight:  bold; color:  var(--darkGreen); font-family:  var(--font-text);
}
#form-redirect-buttons-sec a{
    font-family: var(--font-text);
    text-decoration: none; color:white;
    transition: all 0.5s ease-in-out;
}
#form-redirect-buttons-sec a:hover{
    color:var(--10green);
}



#register-button-sec{
    width:100%; height:20%;
}
#register-button{
    background: none;
    width:40%; height: 50%;
    color:darkgray; font-family: var(--font-text); font-size: 24px; 
    border-radius: 16px; border: darkgray 2px solid;
    cursor: pointer;
    box-shadow: 2px 4px 4px rgb(90, 90, 90);
    
    transition: all 0.5s ease-in-out;
}
#register-button:hover{
    color:white; border: white 2px solid;
    background: var(--10green);
}

@media screen and (max-width: 1200px){
    #form-redirect-buttons-sec{
        font-size: 15px; 
    }
}

@media screen and (max-height:600px){
    #form-title{
        font-size:30px; color: var(--10green);
    }
    .labels{
        color:white;
        display:flex; justify-content: start;
        width:70%;
        font-family: 'Inter', sans-serif;
        font-size: 20px;
        margin: 10px 0;
    }
}